{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<h1>事業所一覧</h1>

<!-- 検索フォーム -->
<form class="mt-2" id="search-form" action="" method="GET">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">事業所名</label>
            {{ search_form.jigo_name }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label class="form-label">事業形態</label>
            {{ search_form.search_jigo_Tag }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label class="form-label">障害種別</label>
            {{ search_form.search_shogai_shubetu_Tag }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2">
            <button class="btn btn-sm btn-primary ml-4" type="submit">検索</button>
        </div>
    </div>
</form>

<a class="btn btn-outline-dark" href="{% url 'jigosho:jigo_mst_new' %}">新規登録</a>

<!-- 一覧表示 -->
<table class="table">
    <thead>
        <tr>
            <td>事業所名</td>
            <td>事業形態</td>
            <td>障害種別</td>
            <td>備考</td>
            <td></td>
        </tr>
    </thead>
    {% for product in jigo_mst_list %}
    <tr>
        <td>{{ product.jigo_name }}</td>
        <td>
            {% for jigo in product.jigo_tags.all %}
            {{ jigo.name }}
            {% endfor %}
        </td>
        <td>
            {% for shogai_shubetu in product.shogai_shubetu_tags.all %}
            {{ shogai_shubetu.name }}
            {% endfor %}
        </td>
        <td>{{ product.biko }}</td>
        <td>
            <a class="btn btn-primary" href="*">編集</a>
            <a class="btn btn-danger" href="*">削除</a>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- ページネーション -->
<div class="d-flex justify-content-between">
    <div>
        {# ページの表示 #}
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>
    </div>
    <div class="btn-group">
        {# 前へ #}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-secondary" href="?page=1">&laquo; 先頭</a>
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled">&laquo; 先頭</a>
        <a class="btn btn-outline-secondary disabled">前へ</a>
        {% endif %}

        {# 次へ #}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">次へ</a>
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled">次へ</a>
        <a class="btn btn-outline-secondary disabled">最後 &raquo;</a>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/jigoshoSearch.js' %}"></script>
{% endblock %}