{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<h1>事業所一覧</h1>

<!-- 新規作成ボタン -->
<a href="{% url 'jigosho:jigo_mst_new' %}" class="mb-2 btn-sm btn btn-success">
    <i class="fa fa-plus me-2"></i>
    <span class="ls-widest">新規登録</span>
</a>


<!-- 検索フォーム -->
<form class="mt-2" id="search-form" action="" method="GET">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">事業所名</label>
            {{ search_form.jigo_name }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label class="form-label">事業形態</label>
            {{ search_form.search_jigo_Tag }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label class="form-label">障害種別</label>
            {{ search_form.search_shogai_shubetu_Tag }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2">
            <button class="btn btn-sm btn-primary ml-4" type="submit">検索</button>
        </div>
    </div>
</form>
<div class="row mt-3">
</div>

<!-- 一覧表示 -->
<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead class="text-white bg-secondary bg-opacity-75">
            <tr>
                <th scope="col" class="text-start ls-widest" width="20%">事業所名</th>
                <th scope="col" class="text-start ls-widest" width="10%">事業形態</th>
                <th scope="col" class="text-start ls-widest" width="10%">障害種別</th>
                <th scope="col" class="text-start ls-widest">備考</th>
                <th scope="col" class="text-center ls-widest" width="10%">削除</th>
            </tr>
        </thead>
        <tbody>
            {% for jigolist in jigo_mst_list %}
            <tr>
                <th class="text-start">{{ jigolist.jigo_name }}</th>
                <th class="text-start">
                    {% for jigo in jigolist.jigo_tags.all %}
                    <span class="badge badge-warning rounded-pill d-inline">{{ jigo.name }}</span>
                    {% endfor %}
                </th>
                <th class="text-start">
                    {% for shogai_shubetu in jigolist.shogai_shubetu_tags.all %}
                    <span class="badge badge-primary rounded-pill d-inline">{{ shogai_shubetu.name }}</span>
                    {% endfor %}
                </th>
                <th class="text-start">
                    {% if jigolist.biko %}
                    {{ jigolist.biko }}
                    {% endif %}
                </th>
                <th class="text-center">
                    <button type="button" class="btn btn-floating btn-danger">

                        <i class="far fa-trash-alt"></i>
                    </button>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% load jigosho %}
<!-- ページネーション -->
<div class="d-flex justify-content-between">
    <div>
        {# ページの表示 #}
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>
    </div>
    <div class="btn-group">
        {# 前へ #}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-secondary" href="?{% url_replace request 'page' 1 %}">&laquo; 先頭</a>
        <a class="btn btn-outline-secondary"
            href="?{% url_replace request 'page' page_obj.previous_page_number %}">前へ</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled">&laquo; 先頭</a>
        <a class="btn btn-outline-secondary disabled">前へ</a>
        {% endif %}

        {# 次へ #}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-secondary" href="?{% url_replace request 'page' page_obj.next_page_number %}">次へ</a>
        <a class="btn btn-outline-secondary" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">最後
            &raquo;</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled">次へ</a>
        <a class="btn btn-outline-secondary disabled">最後 &raquo;</a>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/jigoshoSearch.js' %}"></script>
{% endblock %}