{% extends 'base/base.html' %}

{% block content %}

<h1>事業所登録</h1>
<!-- パンくずリスト -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'jigosho:top' %}">TOP</a></li>
        <li class="breadcrumb-item"><a href="{% url 'jigosho:jigo_mst_list_view' %}">事業所一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'jigosho:jigo_mst_new' %}">事業所登録</a></li>
      </ol>
    </nav>
  </div>
</nav>

<form method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
  <div class="mt-4">
      {{ field.label }}
      {{ field }}
      {{ field.errors }}
  </div>
  {% endfor %}
  <button class="btn mt-4" type="submit" name="button">送信</button>
</form>

<!-- <div class="ui grid stackable">
  <div class="eleven wide column">
    <div class="ui segment">
      <div class="content">
        <div class="header"><h3>トピック作成</h3></div>
        <form class="ui form" action="{% url 'jigosho:jigo_mst_new' %}" method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="field">{{field.label_tag}}{{field}}</div>
            {% for error in field.errors%}
            <p style="color: red;">{{error}}</p>
            {% endfor%}
          {% endfor %}
          <button type="submit" class="ui button">作成</button>
        </form>
      </div>
    </div>
  </div>
  {% include 'base/sidebar.html' %}
</div> -->
{% endblock %}